<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="crm_system.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <connectionStrings>
        <add name="crm_system.Properties.Settings.crm_dbConnectionString"
            connectionString="Data Source=DESKTOP-9AIKQH8\SQLEXPRESS;Initial Catalog=crm_db;Persist Security Info=True;User ID=sa;Password=111"
            providerName="System.Data.SqlClient" />
        <add name="crm_system.Properties.Settings.crm_dbConnectionString1"
            connectionString="Data Source=DESKTOP-9AIKQH8\SQLEXPRESSNILSN;Initial Catalog=crm_db;Persist Security Info=True;User ID=sa;Password=111"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <userSettings>
        <crm_system.Properties.Settings>
            <setting name="user_name" serializeAs="String">
                <value />
            </setting>
            <setting name="user_title" serializeAs="String">
                <value />
            </setting>
        </crm_system.Properties.Settings>
    </userSettings>
</configuration>